body {
    font-family: Arial, Tahoma, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
   text-align: center; 
   background-color: aquamarine;
   font-weight: 900;
   margin-bottom: 5px;
}

ul li,
ol li,
p {
    font-size: 20px;
}

p {
   
    margin: 5px;
    padding: 5px;
}

img {
   text-align: center; 
}
